- content_for :title do
  %title Create a New Task - #{@user.name} | CampHQ

.row
  .small-12.columns
    %h1.text-center New Task
    %h2.text-center= @user.name
  .small-12.columns
    = render 'form'